<a href="https://colab.research.google.com/github/oba-nijesu/oba-nijesu/blob/main/KLUSTERTON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
crop = pd.read_csv('Crop_Data.csv')
crop

,temperature,humidity,ph,water availability,season,label,Country,harvest season
0,20.879744,82.002744,6.502985,202.935536,rainy,rice,Nigeria,spring
1,21.770462,80.319644,7.038096,226.655537,rainy,rice,Nigeria,winter
2,23.004459,82.320763,7.840207,263.964248,rainy,rice,Nigeria,rainy
3,26.491096,80.158363,6.980401,242.864034,rainy,rice,Nigeria,rainy
4,20.130175,81.604873,7.628473,262.717340,rainy,rice,Nigeria,spring
...,...,...,...,...,...,...,...,...
1395,23.874845,86.792613,6.718725,177.514731,rainy,jute,South Africa,winter
1396,23.928879,88.071123,6.880205,154.660874,rainy,jute,South Africa,winter
1397,24.814412,81.686889,6.861069,190.788639,rainy,jute,Nigeria,summer
1398,24.447439,82.286484,6.769346,190.968489,rainy,jute,Nigeria,summer
1399,26.574217,73.819949,7.261581,159.322307,rainy,jute,South Africa,summer

In [ ]:
crop = crop.drop('harvest season', axis =1)
crop

,temperature,humidity,ph,water availability,season,label,Country
0,20.879744,82.002744,6.502985,202.935536,rainy,rice,Nigeria
1,21.770462,80.319644,7.038096,226.655537,rainy,rice,Nigeria
2,23.004459,82.320763,7.840207,263.964248,rainy,rice,Nigeria
3,26.491096,80.158363,6.980401,242.864034,rainy,rice,Nigeria
4,20.130175,81.604873,7.628473,262.717340,rainy,rice,Nigeria
...,...,...,...,...,...,...,...
1395,23.874845,86.792613,6.718725,177.514731,rainy,jute,South Africa
1396,23.928879,88.071123,6.880205,154.660874,rainy,jute,South Africa
1397,24.814412,81.686889,6.861069,190.788639,rainy,jute,Nigeria
1398,24.447439,82.286484,6.769346,190.968489,rainy,jute,Nigeria
1399,26.574217,73.819949,7.261581,159.322307,rainy,jute,South Africa

In [ ]:
# Using pandas get_dummies for one-hot encoding
data_onehot = pd.get_dummies(crop, columns=['season','label','Country'])
data_onehot

,temperature,humidity,ph,water availability,season_rainy,season_spring,season_summer,season_winter,label_blackgram,label_chickpea,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
0,20.879744,82.002744,6.502985,202.935536,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,21.770462,80.319644,7.038096,226.655537,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,23.004459,82.320763,7.840207,263.964248,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,26.491096,80.158363,6.980401,242.864034,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,20.130175,81.604873,7.628473,262.717340,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,23.874845,86.792613,6.718725,177.514731,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1396,23.928879,88.071123,6.880205,154.660874,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1397,24.814412,81.686889,6.861069,190.788639,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1398,24.447439,82.286484,6.769346,190.968489,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1399,26.574217,73.819949,7.261581,159.322307,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
y = data_onehot[['season_rainy', 'season_spring', 'season_summer', 'season_winter']]
y

      season_rainy  season_spring  season_summer  season_winter
0                1              0              0              0
1                1              0              0              0
2                1              0              0              0
3                1              0              0              0
4                1              0              0              0
...            ...            ...            ...            ...
1395             1              0              0              0
1396             1              0              0              0
1397             1              0              0              0
1398             1              0              0              0
1399             1              0              0              0

[1400 rows x 4 columns]

In [ ]:
common_columns = data_onehot.columns.intersection(y.columns)

In [ ]:
x = data_onehot.drop(common_columns, axis=1)
x

,temperature,humidity,ph,water availability,label_blackgram,label_chickpea,label_cotton,label_jute,label_kidneybeans,label_lentil,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
0,20.879744,82.002744,6.502985,202.935536,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,21.770462,80.319644,7.038096,226.655537,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,23.004459,82.320763,7.840207,263.964248,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,26.491096,80.158363,6.980401,242.864034,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,20.130175,81.604873,7.628473,262.717340,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,23.874845,86.792613,6.718725,177.514731,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1396,23.928879,88.071123,6.880205,154.660874,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1397,24.814412,81.686889,6.861069,190.788639,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1398,24.447439,82.286484,6.769346,190.968489,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1399,26.574217,73.819949,7.261581,159.322307,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# Using scikit-learn MultiOutputRegressor
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

clf = MultiOutputClassifier(RandomForestClassifier())
clf.fit(x_train, y_train)

MultiOutputClassifier(estimator=RandomForestClassifier())

In [ ]:
x_train

,temperature,humidity,ph,water availability,label_blackgram,label_chickpea,label_cotton,label_jute,label_kidneybeans,label_lentil,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
267,20.023815,16.632945,6.715587,68.978065,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
802,29.848231,60.638726,7.491217,46.804526,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1093,26.633312,84.317568,6.560444,56.318662,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
508,27.654722,58.599863,6.974978,36.942550,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
226,18.287201,16.679216,6.051091,74.874456,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,28.562122,83.248559,6.935804,56.482652,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
983,25.107874,55.977328,5.790770,78.160777,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1389,26.475495,73.961646,6.732826,180.251360,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
663,27.770763,87.099795,6.402926,49.508126,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
683,29.859691,80.034996,6.666381,50.664875,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [ ]:
y_train

      season_rainy  season_spring  season_summer  season_winter
267              0              0              0              1
802              1              0              0              0
1093             0              0              1              0
508              0              0              1              0
226              0              0              0              1
...            ...            ...            ...            ...
606              1              0              0              0
983              0              0              0              1
1389             1              0              0              0
663              1              0              0              0
683              1              0              0              0

[1120 rows x 4 columns]

In [ ]:
x_test

,temperature,humidity,ph,water availability,label_blackgram,label_chickpea,label_cotton,label_jute,label_kidneybeans,label_lentil,...,label_mothbeans,label_mungbean,label_muskmelon,label_pigeonpeas,label_rice,label_watermelon,Country_Kenya,Country_Nigeria,Country_South Africa,Country_Sudan
891,29.821121,69.407321,6.593798,51.564611,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
563,30.477577,61.582453,9.416003,61.866339,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
245,17.928459,14.273280,7.496645,85.373788,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
398,20.934099,21.189301,5.562202,133.191442,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
900,22.613600,63.690706,5.749914,87.759539,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,25.487968,84.482359,6.740948,168.784889,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
866,20.390783,60.475289,6.924042,53.315086,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1099,26.986037,89.413849,6.260839,58.548767,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
681,28.086572,80.350059,6.760694,38.144768,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1391,25.499417,75.999876,6.663559,193.714183,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
y_test

      season_rainy  season_spring  season_summer  season_winter
891              1              0              0              0
563              0              0              1              0
245              0              0              0              1
398              0              1              0              0
900              0              0              0              1
...            ...            ...            ...            ...
1327             1              0              0              0
866              1              0              0              0
1099             0              0              1              0
681              1              0              0              0
1391             1              0              0              0

[280 rows x 4 columns]

In [ ]:
y_preds = clf.predict(x_test)
y_preds

array([[1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       ...,
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0]], dtype=uint8)

In [ ]:
predictions_df = pd.DataFrame(y_preds, columns=y.columns)
predictions_df

     season_rainy  season_spring  season_summer  season_winter
0               1              0              0              0
1               0              0              1              0
2               0              0              0              1
3               0              1              0              0
4               0              0              0              0
..            ...            ...            ...            ...
275             1              0              0              0
276             1              0              0              0
277             0              0              1              0
278             1              0              0              0
279             1              0              0              0

[280 rows x 4 columns]

In [ ]:
clf.score(x_test, y_test)

0.8678571428571429

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.86      0.84      0.85       121
           1       1.00      1.00      1.00        19
           2       1.00      1.00      1.00        65
           3       0.76      0.77      0.77        75

   micro avg       0.88      0.87      0.87       280
   macro avg       0.91      0.90      0.91       280
weighted avg       0.88      0.87      0.87       280
 samples avg       0.87      0.87      0.87       280

/Users/obanijesuadeyemo/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
accuracy_score(y_test,y_preds)

0.8678571428571429

In [ ]:
import pickle
pickle.dump(clf, open('klusterton_model.pk1', 'wb'))

In [ ]:
loaded_model = pickle.load(open('klusterton_model.pk1', 'rb'))
loaded_model.score(x_test, y_test)

0.8678571428571429

In [ ]:
import secrets

# Generate a secure random API key
api_key = secrets.token_urlsafe(32)
print(f"Generated API Key: {api_key}")

Generated API Key: jn4QoM3463hoZVovMC7V9XgXS8jUk2-AmFVjUqEOatg

In [ ]:
pip install Flask flask-restful

Requirement already satisfied: Flask in ./anaconda3/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: flask-restful in ./anaconda3/lib/python3.11/site-packages (0.3.10)
Requirement already satisfied: Werkzeug>=2.2.2 in ./anaconda3/lib/python3.11/site-packages (from Flask) (2.2.3)
Requirement already satisfied: Jinja2>=3.0 in ./anaconda3/lib/python3.11/site-packages (from Flask) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in ./anaconda3/lib/python3.11/site-packages (from Flask) (2.0.1)
Requirement already satisfied: click>=8.0 in ./anaconda3/lib/python3.11/site-packages (from Flask) (8.0.4)
Requirement already satisfied: aniso8601>=0.82 in ./anaconda3/lib/python3.11/site-packages (from flask-restful) (9.0.1)
Requirement already satisfied: six>=1.3.0 in ./anaconda3/lib/python3.11/site-packages (from flask-restful) (1.16.0)
Requirement already satisfied: pytz in ./anaconda3/lib/python3.11/site-packages (from flask-restful) (2022.7)
Requirement already satisfied: MarkupSafe>=2.0 in ./anaconda3/lib/python3.11/site-packages (from Jinja2>=3.0->Flask) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pickle
from flask import Flask, request, jsonify
from flask_restful import Api, Resource

app = Flask(__name__)
api = Api(app)

# Replace 'your_api_key' with your actual API key
api_key = 'JaP_ZHjA8LWWqOaMCiwlK_6pmUJQcl9mqmoE8WQZVsg'

with open('klusterton_model.pk1', 'rb') as file:
    model = pickle.load(file)

class Predict(Resource):
    def post(self):
        try:
            data = request.get_json(force=True)

            # Adjust based on your data structure
            features = [data['temperature'], data['humidity'], data['ph'], data['water_availability']]

            # Make predictions using your model
            predictions = model.predict([features])  # Assuming your model expects a list of feature vectors

            # Return the predictions as JSON
            return jsonify({'predictions': predictions.tolist()})
        except Exception as e:
            return jsonify({'error': str(e)})

# Add the resource with API key authentication
api.add_resource(Predict, '/predict', resource_class_kwargs={'api_key': api_key})

if __name__ == '__main__':
    app.run(port=5000)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit